/*#region palette */

:root {
    --bl-sustainability: #008000;
    --bl-balck: #1A1A1A;
    --bl-sales: #FF0000;
    --bl-nav: #FF6900;
    --bl-white: #FFFFFF;
}

/* #endregion palette */
/* #region debug */
/*.debug #header .col_4,
 .debug #footer .col_4 {
    background-color: #008000;
    border: 1px solid black;
    width: 100%;
    height: 70px;
} */

/* .debug .container {
    background-color: #FF0000;

} */

/* .debug #main .col_4 {
    background-color: aqua;
    height: 700px;
} */

/* #endregion debug */

/* #region utility */
.flex {
    display: flex;
}

.row {
    flex-wrap: wrap;

}

.container {
    width: 70%;
    margin: 70px auto;
}

.card {
    padding: 0 10px 50px;
    position: relative;
}

a {
    color: var(--bl-white);
    text-decoration: none;
}

strong {
    color: var(--bl-sales)
}

.max_price {
    text-decoration: line-through;
}

.z_index {
    z-index: 1;
}

.hearts:hover {
    color: var(--bl-sales);
}

/* #endregion utility */

/* #region common */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.col_4 {
    width: calc(100% / 12 * 4);

}

/* #endregion common */


/* #region header */
#header {
    background-color: var(--bl-nav);
    color: var(--bl-white);
}

nav {
    width: 70%;
    margin: 0 auto;
    padding: 20px 0;
}

.center {
    text-align: center;
}

.right {
    text-align: right;
}

#header img {
    width: 120px;
}

/* #endregion header */

/* #region main */
#main img {
    max-width: 100%;

}

.man1b {
    display: none;
    position: relative;
}

.card:hover .man1b {
    display: inline;
    position: absolute;
    top: 0;
    left: 10px;
    width: 95.5%;
}

.top_heart {
    background-color: var(--bl-white);
    padding: 5px 16px;
    font-size: 40px;
    position: absolute;
    right: 10px;
    top: 0;
    margin-top: 10px;
}

.col_4 .card {
    position: relative;

}

.details {
    position: absolute;
    left: 10px;
    bottom: 140px;
    color: var(--bl-white);
}

.sales {
    background-color: var(--bl-sales);
    padding: 5px;
}

.sustainab {
    background-color: var(--bl-sustainability);
    padding: 5px;
}

/* #endregion header */

/* #region footer */


/* #region footer */